form {
  background-color: #f9f5f0;
  border: 1px solid #d8cfc4;
  border-radius: 12px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: box-shadow 0.2s ease-in-out;
}

form:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}


label {
  font-size: 14px;
  font-weight: 500;
  color: #5a4a42;
  margin-bottom: 4px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d8cfc4;
  border-radius: 6px;
  background-color: #f4ede4;
  font-size: 14px;
  color: #5a4a42;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

input:focus,
select:focus {
  outline: none;
  border-color: #a59487;
  background-color: #f1e8dd;
}

button {
  background-color: #f4ede4;
  color: #5a4a42;
  padding: 10px 16px;
  border: 1px solid #d8cfc4;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  background-color: #5a4a42;
  color: #f4ede4;
  transform: scale(1.1);
}


